.questionnaire {
  display: flex;
  flex-direction: column;
  gap: $spacer-10;
  max-width: 800px;
  width: 100%;

  &__main {
    min-height: 400px;
  }

  &__footer {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: $spacer-2;
    height: $spacer-10;
  }
}
