.button {
  display: inline-block;
  padding: $spacer-4 $spacer-7;
  background-color: $color-primary;
  color: $color-surface;
  border: 0px;
  cursor: pointer;
  font-size: $font-size-xl;
  transition: $transition-fast;
  width: fit-content;

  &:disabled {
    opacity: 0.65;
    filter: saturate(20%);
    pointer-events: none;
  }

  &:hover {
    filter: brightness(1.1);
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 0 5px rgba($color: $color-primary, $alpha: 0.5);
  }
}
