.text-input {
  width: 100%;
  padding: 0.5rem;
  border: 0;
  border-bottom: 2px solid $color-primary;
  background-color: transparent;
  transition: $transition-fast;

  &--small {
    width: 200px;
  }

  &--large {
    width: 400px;
  }

  &:focus {
    outline: none;
    background-color: rgba($color: $color-primary, $alpha: 0.1);
  }
}
