.text-input {
  width: 100%;
  padding: 0.5rem;
  border: 0;
  border-bottom: 2px solid #00abb8;
  background-color: transparent;
  transition: all 0.2s ease;

  &--small {
    width: 200px;
  }

  &--large {
    width: 400px;
  }

  &:focus {
    outline: none;
    background-color: rgba($color: #00abb8, $alpha: 0.1);
  }
}
