.radio-question {
  display: flex;
  flex-direction: column;
  gap: $spacer-4;

  &__label {
    font-size: $font-size-xl;
    font-weight: $font-weight-medium;
  }

  &__option {
    display: flex;
    gap: $spacer-2;
    align-items: center;
    font-size: $font-size-xl;
    font-weight: $font-weight-normal;
  }
}
