.radio-input {
  appearance: none;

  border-radius: 50%;
  width: $font-size-base;
  height: $font-size-base;

  border: 2px solid $color-border;
  transition: $transition-fast;

  &:checked {
    border: 5px solid $color-primary;
  }

  &:hover {
    border-color: $color-primary;
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba($color: $color-primary, $alpha: 0.5);
  }
}
